<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto 👀{% endblock  %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mi_aplicacion/style.css' %}">
</head>
<body>
    <header>
        <h1>MI PROYECTO DJANGO 🐍</h1>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <p>Creado por curso DJANGO - 2025</p>
    </footer>
    
</body>
</html>